<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/theme/default.css" />
    <link rel="icon" href="/theme/favicon.png" type="image/x-icon" />
    <title></title>
  </head>
  <body class="default">
    <div class="sidebar">
      <h1>
        Documentation
      </h1>

      <div class="search">
        <input class="search__input" type="search" placeholder="🔍Search" />
        <div class="search__results" aria-hidden role="menu">
          <div class="search__pages"></div>
          <div class="search__no-pages">No results</div>
        </div>
      </div>

      <nav data-slothdocs="sidebar"></nav>
    </div>

    <main class="content" data-slothdocs="body"></main>

    <div class="subnav">
      <div class="subnav__sticky">
        Contents
        <nav data-slothdocs="subnav"></nav>
      </div>
    </div>

    <script src="/theme/lunr.min.js"></script>
    <script src="/theme/search.js"></script>
    <script src="/theme/subnav.js"></script>
  </body>
</html>
