<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/assets/default.css" />
    <link rel="icon" rel="{{favicon}}" type="image/x-icon" />
    <title>{{title}}</title>
  </head>
  <body class="default">
    <button class="sidebar-toggle" type="button">☰</button>

    <div class="sidebar">
      <h1>
        <a href="/">
          <img class="logo" src="{{logo}}" alt="{{name}}" />
        </a>
      </h1>

      <div class="search">
        <input class="search__input" type="search" placeholder="Search" />
        <div class="search__results" aria-hidden role="menu">
          <div class="search__pages"></div>
          <div class="search__no-pages">No results 🦥</div>
        </div>
      </div>

      <nav>{{{sidebar}}}</nav>
    </div>

    <main class="content">{{{body}}}</main>

    <div class="subnav">
      <div class="subnav__sticky">
        <div class="subnav__title">On This Page</div>
        <nav>
          {{{subnav}}}
        </nav>
      </div>
    </div>

    <script src="/search/lunr.min.js"></script>
    <script src="/assets/search.js"></script>
    <script src="/assets/sidebar.js"></script>
    <script src="/assets/subnav.js"></script>
    <script src="/assets/smooth-scroll.js"></script>
  </body>
</html>
